
/*.text-justify {
    text-align: justify;
}*/


header {
  background-color: white;
  z-index: 1030;
  position: sticky;
  top: 0;
}

.bloque-carrusel {
  margin-top: -200px; /* Hace que se solape hacia arriba */
  position: relative;
  z-index: 2;
}

.text-justify {
  text-align: justify;
}

/* Siempre centramos y limitamos ancho */
.portada-superior,
.portada-inferior {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

/* Ajustes responsive para móviles (max-width: 576px) */
@media (max-width: 576px) {
  .portada-superior {
    padding-top: 2.5rem; /* más espacio arriba */
  }
  .portada-inferior {
    padding-top: 1.5rem; /* separación desde el contenido superior */
    padding-bottom: 0.5rem; /* menos espacio debajo */
  }
  .portada-superior h1 {
    font-size: 2rem !important;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .portada-inferior h5 {
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
  }
  .portada-inferior h1 {
    font-size: 1.5rem !important;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
}



/* Ajustes responsive para tablets (577px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .portada-superior h1 {
    font-size: 3rem !important;
  }
  .portada-inferior h5 {
    font-size: 1.25rem !important;
  }
  .portada-inferior h1 {
    font-size: 2rem !important;
  }
}

/* Ajustes para pantallas grandes (min-width: 992px) */
@media (min-width: 992px) {
  .portada-inferior .container {
    padding-left: 2rem;  /* Ajuste de margen izquierdo */
    max-width: 600px;    /* Limita el ancho, si es necesario */
  }
}