
header {
  background-color: white;
  z-index: 1030;
  position: sticky;
  top: 0;
}

.bloque-carrusel {
  margin-top: -200px; /* Hace que se solape hacia arriba */
  position: relative;
  z-index: 2;
}

.text-justify {
  text-align: justify;
}

/* Siempre centramos y limitamos ancho */
.portada-superior,
.portada-inferior {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

/* Ajustes responsive para móviles */
@media (max-width: 576px) {
  .portada-superior {
    padding-top: 2.5rem; /* más espacio arriba */
  }

  @media (min-width: 992px) {
  .portada-inferior .container {
    padding-left: 2rem; /* Reduce separación izquierda en pantallas grandes */
   
  }
}

  .portada-inferior {
    padding-bottom: 0.5rem; /* MENOS espacio debajo */
    padding-top: 1.5rem; /* AÑADIDO: más separación desde el texto superior */
  }

  .portada-superior h1 {
    font-size: 2rem !important;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .portada-inferior h5 {
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
  }

  .portada-inferior h1 {
    font-size: 1.5rem !important;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .portada-superior h1 {
    font-size: 3rem !important;
  }

  .portada-inferior h5 {
    font-size: 1.25rem !important;
  }

  .portada-inferior h1 {
    font-size: 2rem !important;
  }
}
